.centerPage {
	width: 1140px;
	min-height: 700px;
	margin: 0 auto;
	background: rgba(255,229,145,0.08);
	text-align: center;
}

.centerPage h4 {
	margin: 0 auto;
	padding-top: 50px;
	/*padding-bottom: 5px;*/
	width: 890px;
	font-size: 15px;
	border-bottom: 1px solid #aaa;
	text-align: right;
}

.centerPage li {
	float: left;
	width: 105px;
	height: 25px;
	border: 1px solid #fff;
	background-color: rgba(255,134,23,1);
	text-align: center;
	line-height: 25px;
}

.centerPage div {
	margin: 20px auto;
	margin-top: 50px;
	width: 800px;
}

#writprint span {
	display: none;
}