body {
	background: url("./images/loginBc2.jpg") no-repeat 0 0 ;
}

.container {
	position: relative;
	max-width: 2796px;
	height: 100%;
	margin: 0 auto;
	/*background: #e4e4e4;*/
}

.header {
	height: 150px;
}

.content {
	position: relative;
	width: 1176px;
	/*min-height: 680px;*/
	margin: 0 auto;
	background: #fbfbfb;
	border-top: 1px solid #fff;
}

.sign-title {
	/*width: 215px;*/
	margin: 15px 30px;
	border-left: 5px solid #39f;
	/*border-bottom: 3px solid #aaa;*/
}

.sign-title-link {
	float: right;
	font-size: 14px;
}

.sign-title-link a {
	margin: 0 6px 0 2px;
	color: #d66;
}

.sign-box {
	width: 680px;
	margin: 0 auto;
}

.mobile-number-box,
.code-box,
.sub-box {
	width: 680px;
	border: 1px solid #ccc;
	background: rgba(255,255,255,1);
}

.mobile-number-box-title,
.code-box-title {
	width: 680px;
	height: 100px;
	margin: 0 auto;
	background: rgba(243,243,243,1);
	text-align: center;
	font-size: 48px;
	line-height: 2;
	letter-spacing: 40px;
	text-indent: 40px;
}

.mobile-number-box-main,
.code-box-main {
	width: 580px;
	height: 128px;
	margin: 22px auto 0;
	/*text-align: center;*/
}

.mobile-number-box-cont,
.code-box-cont {
	width: 538px;
	height: 86px;
	padding: 0 20px;
	border: 1px solid #bbb;
	box-shadow: 1px 1px 5px #eee inset;
	background: rgba(253,253,253,1);
	font-size: 32px;
	letter-spacing: 2px;
}

.mobile-number-box-cont {
	width: 388px;
}

.get-code {
	float: right;
	width: 150px;
	height: 88px;
	/*margin-right: 50px;*/
	border: 1px solid #bbb;
	background: rgba(0,113,188,0.7);
}

.error-tips {
	height: 40px;
	margin: 0;
	font-size: 16px;
	line-height: 2.5;
	color: rgba(255,51,51,1);
}

.sub-box {
	width: 680px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.sign-up-btn,
.recover-btn {
	width: 400px;
	height: 100px;
	border: 1px solid #bbb;
	box-shadow: -2px -2px 8px #666 inset;
	outline: 0;
	font-size: 36px;
	letter-spacing: 60px;
	text-indent: 60px;
	background: rgba(0,113,188,0.7);
}

.get-code:active,
.sign-up-btn:active,
.recover-btn:active {
	background: rgba(240,240,240,1);
}

.recover-btn {
	display: block;
}


/* 不显示通用样式 */
.dis-none {
	display: none;

}
